@model IEnumerable<mac_net_test.models.test_model>
<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>[@item.id.ToString().PadLeft(3, '0')] @item.uid - @item.pwd</li>
        }
    </ul>
</div>